<% provide(:title, 'Update Role') %>
<% provide(:button_text, 'Update User') %> 

<h1>Update User</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @user, local: true) do |f| %>
            <%= render 'shared/error_messages' , object: f.object %>
            <%= f.label :role %>
            <%= f.select :role, ['Manager', 'QA','Developer'],class: 'form-control' %>
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
        <% end %>
    </div>
</div>