<% provide(:title, 'All Users') %>
<div class='profile-container'> 
  <% @users.each do |user|  %>
   <div class='single-profile-item'>
      <div class='profile-picture'><%= user.name[0] %></div>
      <div >
          <div class='profile-name'><%= link_to user.name.split(" ")[0], user %></div>
          <div class='profile-email'><%= user.email %></div>
          <div class='profile-role'><%= user.role %></div>
          <div><%= link_to "Edit Role", edit_user_path(user), class:'button' %></div>
          
      </div>
   </div>
  <% end %>
</div>