<% provide(:title, @bug.title) %>
<div>
  <div class='bugs-container'>
    <div class='single-bug-wrapper single-big-show-wrapper'>
        <h2 class='bug-title'><%= @bug.title%></h2>
        <h6 class='bug-description'><%=  @bug.description %></h6>
        <h6 class='bug-creator'><strong>Created By : </strong><%=  link_to (User.find(@bug.user_id))[:name] , User.find(@bug.user_id) %>  (<%= User.find(@bug.user_id)[:role]%>)</h6>
        <h6 class='bug-assigned'><strong>Assigned To (QA) : </strong> <%=  link_to (User.find(@bug.qa_id))[:name], User.find(@bug.qa_id) %></h6>
        <h6 class='bug-assigned'><strong>Assigned To (Developer) : </strong><%=  link_to (User.find(@bug.developer_id))[:name], User.find(@bug.developer_id) %></h6>
        <h6 class='bug-estimated-time'><strong>Estimated Time : </strong><%= @bug.estimated_time %> Days</h6>
        <h6 class='bug-priority'><strong>Priority : </strong><%= @bug.priority %></h6>
        <h6 class='bug-status'><strong>Status : </strong><%= @bug.status %></h6>
        <div class='comment-container'>
          <% if @bug.comments.any? && (@current_user.role!='Manager') %>
            <% @bug.comments.each do |comment| %>
            <h5><strong>title : <%= comment.title  %></strong></h5>
            <h5>content : <%=  comment.content  %></h5>
            <%end%>
          <% else %>
            <h5>No Comments Yet</h5>
        <% end %>
        </div>
        
    </div>
</div>
  
</div>