<% provide(:title, @bug.title) %>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col" >Description</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Estimated_time</th>
        <th scope="col">Created By</th>
        <th scope="col">Assigned To</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @bug.title %></th>
        <td ><%= @bug.description %></td>
        <td><%= @bug.priority %></td>
        <td><%= @bug.status %></td>
        <td><%= @bug.estimated_time %> Days</td>
        <td><%= (User.find(@bug.user_id))[:name] %></td>
        <td><%= (User.find(@bug.qa_id))[:name]%></td>
        
      </tr>
    </tbody>
  </table>
  <% if @bug.comments.any? %>
    <% @bug.comments.each do |comment| %>
          <h4>title : <%= comment.title  %></h4>
          <h4>content : <%=  comment.content  %></h4>
    <%end%>
  <% end %>
</div>